# M贸dulo9Katas

In [43]:
#Si me costo un poco y tuve que revisar las soluciones, 
def fprom(valores):
    tot = sum(valores)
    tanques = len(valores)
    return tot / tanques
def lectura_com(tanque1, tanque2, tanque3):
#    prom = (tanque1 + tanque2 + tanque3) / 3
    return f"""Reporte:
    Promedio: {fprom([tanque1, tanque2, tanque3])}
    Tanque # 1 {tanque1}
    Tanque # 2 {tanque2}
    Tanque # 3 {tanque3}
    """
print(lectura_com(80, 85, 81))
#fprom([20, 40 , 60])

Reporte:
    Promedio: 82.0
    Tanque # 1 80
    Tanque # 2 85
    Tanque # 3 81

In [65]:

#def info_mision(horaprelan, tiempov, destino, tanqueext, tanqueint):
def info_mision(destino, *minutos, **tanques):
#    Tiempo de espera: {horaprelan}
#    Tiepo de viaje: {tiempov}
#    Tanque Externo: {tanqueext}
#    Tanque Interno: {tanqueint}
#print(info_mision(10, 62, 'Luna', 70000, 100000))
    reptanque = f"""
    Reporte:
    Misi贸n hacia: {destino}
    Total de viaje: {sum(minutos)}
    Total de los tanques: {sum(tanques.values())}
    """
    for nomtanque, litros in tanques.items():
        reptanque += f"{nomtanque} contiene --> {litros} Litros\n"
    return reptanque

print(info_mision('Luna', 10, 62, 14, tanext=70000, tanint=100000))

    Reporte:
    Misi贸n hacia: Luna
    Total de viaje: 86
    Total de los tanques: 170000
    tanext contiene --> 70000 Litros
tanint contiene --> 100000 Litros

# M贸dulo 9 - Funciones

In [9]:
#def rocket_parts():
#    print('payload, propellant, structure')
#rocket_parts()
#output = rocket_parts()
#output is None
def rocket_parts():
    return 'payload, propellant, structure'

output = rocket_parts()
output

'payload, propellant, structure'

In [14]:
#any([True, False, False])
#any([False, False, False])
#any()
str(15)

'15'

In [17]:
def distance_from_earth(destination):
    if destination == 'Moon':
        return '238,855'
    else:
        return 'Unable to compute to that destination'
#distance_from_earth('Moon')
distance_from_earth('Saturn')

'Unable to compute to that destination'

In [22]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24
#days_to_complete(238855, 75)
#total_days = days_to_complete(238855, 75)
#round(total_days)
round(days_to_complete(238855, 75))

133

In [26]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
#def arrival_time(hours=0):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime('Arrival: %A %H:%M')
arrival_time()

'Arrival: Monday 02:17'

In [29]:
from datetime import timedelta, datetime

def arrival_time(destination, hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime(f'{destination} Arrival: %A %H:%M')
#arrival_time('Moon')
arrival_time('Orbit', hours=0.13)

'Orbit Arrival: Friday 23:31'

In [33]:
def variable_length(*args):
    print(args)
#variable_length()
#variable_length('one', 'two')
variable_length(None)

(None,)

In [36]:
def sequence_time(*args):
    total_minutes = sum(args)
    if total_minutes < 60:
        return f'Total time to launch is {total_minutes} minutes'
    else:
        return f'Total time to launch is {total_minutes/60} hours'
#sequence_time(4, 14, 18)
sequence_time(4, 14, 48)

'Total time to launch is 1.1 hours'

In [37]:
def crew_members(**kwargs):
    print(f'{len(kwargs)} astronauts assigned for this mission:')
    for title, name in kwargs.items():
        print(f'{title}: {name}')
crew_members(captain='Neil Armstrong', pilot='Buzz Aldrin', command_pilot='Michael Collins')

3 astronauts assigned for this mission:
captain: Neil Armstrong
pilot: Buzz Aldrin
command_pilot: Michael Collins